<html>
<h2>{{ givenByName }} Just Said, "Aaay!"</h2>
<p>
  <img src="{{ siteSettings.SiteUrl }}/{{ SiteBannerImage }}" alt="{{ siteSettings.SiteName }}">
</p>
<p>{{ givenByName }} sent you
{% if otherUserCount == 1 %} and one other {% endif %}
{% if otherUserCount > 1 %} and {{ otherUserCount }} others {% endif %}
{{ points }} points, and said:</p>
<blockquote>
"{{ comment }}"
</blockquote>
<p>
  See the comment at <a href="{{ siteSettings.SiteUrl }}/webui/aaays/{{ aaayId }}">{{ siteSettings.SiteName }}</a>
</p>
<p style="font-size: 80%">
  If you think you received this email in error, please contact
  <a href="email:{{ siteSettings.SitePublicAdminEmail }}">{{ siteSettings.SitePublicAdminEmail }}</a>.
</p>
</html>
