<div>
<h1>Administration</h1>
<ul>
  <li><a [routerLink]="['/webui/admin/users']">Manage Users</a></li>
  <li><a [routerLink]="['/webui/admin/create-user']">Create User</a></li>
  <li><a [routerLink]="['/webui/admin/import-users']">Import Users</a></li>
  <li><a [routerLink]="['/webui/admin/reset-points-to-award']">Reset Users' Giving Points</a></li>
  <li><a [routerLink]="['/webui/admin/prizes']">Manage Prizes</a></li>
  <li>Reports</li>
  <li><a [routerLink]="['/webui/admin/site-settings']">Site Settings</a></li>
</ul>
</div>
