.form-box {
  border: 1px black solid;
  margin: 0.3em;
}

.form-box-entry {

}

.control-entry {
  padding: .5em;
}

.control-label {
  font-weight: 200%;
  font-size: 120%;
}

.control-desc {
  font-size: 80%;
}
