<div id="app-header" class="header-line">
  <span class="left-side">
    <span id="site-name">{{ site.name }}</span>
  </span>
  <span class="right-side">
    <span class="user-container" *ngIf='isAuthenticated()'>
      <a [routerLink]="['/webui/header/me']">
      <span *ngIf="imageUrl()"><img src="{{ imageUrl() }}"></span>
      <span  class="me-auth" *ngIf='isAuthenticated() && !imageUrl()'>{{ loginAccount.username }}</span>
      </a>
    </span>
    <span class="me-login" *ngIf='!isAuthenticated()'><a [routerLink]="['/webui/login']">Login</a></span>
  </span>
</div>
<div id="nav" class="header-nav" *ngIf="isAuthenticated()">
  <span><a [routerLink]="['/']">[-]</a></span>
  <span><a [routerLink]="['/webui/prizes']">Prizes</a></span>
  <span *ngIf="isAdmin()"><a [routerLink]="['/webui/admin']">Admin</a></span>
  <span><a [routerLink]="['/webui/login']">Logout</a></span>
</div>
