<div>
  <h2>Request Password Change: 2 Factor Authorization</h2>
  <div *ngIf='hasUser && notSent'>
    <div>
    Requesting a password change will send an email to your user account's
    primary email address.  Follow the link provided in the email to
    submit a new password.
    </div>
    <app-alert [status]='alertStatus'></app-alert>
    <div>
      <button (click)='resetPassword()'>Request Password Change</button>
    </div>
  </div>
  <div *ngIf='hasUser && !notSent'>
    <div>
      Follow the link provided in the email to submit a new password.
      You can still log in with the old password until you change it.
    </div>
  </div>
  <div *ngIf='!hasUser'>
    <div>
      Couldn't look up a user for you.  Perhaps you
      <span><a [routerLink]="['/webui/login/forgot']">forgot your password?</a></span>
    </div>
  </div>
</div>
