<div>
  <app-alert [status]='alertStatus'></app-alert>
  <!-- TODO add the filter controls -->
  <app-paged-list [pagingService]='claimedPrizeListService' [queryParams]='filter'>
    <table class="prize-list">
      <tr *ngFor="let cprize of prizeList.results ; let i=index">
        <td class="head">
          <div class="prize-image">
            <img *ngIf="cprize.prize.imageUri" [src]="toImageUrl(cprize)">
            <span *ngIf="!cprize.prize.imageUri">(no image)</span>
          </div>
          <div class="prize-name-area">
            <span class="prize-name">{{ cprize.prize.name }}</span>
          </div>
        </td>
        <td class="details">
          <div class="description">
            {{ cprize.prize.description }}
          </div>
          <div class="who">
            Claimed by {{ cprize.claimedByUser.primaryName }}.
          </div>
          <div class="validated" *ngIf="!cprize.pendingValidation">
            <div *ngIf="cprize.claimAllowed === true">
              Validated at {{ cprize.validatedTime }}
            </div>
            <div *ngIf="cprize.claimAllowed === false">
              Claim refused:
              {{ cprize.claimRefusalReason }}
            </div>
            <div *ngIf="cprize.claimAllowed === null">
              <app-load-button [loading]='detailsLoading[cprize.id]'>
              </app-load-button>
            </div>
          </div>
          <div class="not-validated" *ngIf="cprize.pendingValidation">
            Pending validation
            <app-load-button [loading]='validateLoading[cprize.id]'>
              <div *ngIf="canValidateClaim(cprize)">
                <button (click)="allowClaim(cprize)">Allow Claim</button>

                <span *ngIf="refuseFieldShown !== cprize.id">
                <button (click)="showRefuseForm(cprize)">Refuse Claim &gt;&gt;</button>
                </span>
                <span *ngIf="refuseFieldShown === cprize.id">
                  <label [for]="'refuseField_' + cprize.id">Reason</label>
                  <input [name]="'refuseField_' + cprize.id" type="text">
                  <button (click)="refuseClaim(cprize)">Submit Refuse Claim</button>
                </span>
              </div>
            </app-load-button>
          </div>
        </td>
      </tr>
    </table>
  </app-paged-list>
</div>
