<div class="create-aaay">
  <app-alert [status]='alertStatus'></app-alert>
  <!-- TODO add validation -->
  <form name="form" (ngSubmit)="submitAaay($event, f.value, f.valid)" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !comment.valid }">
      <label for="comment">Comment</label>
      <input type="text" class="form-control" name="comment" [(ngModel)]="model.comment" #comment="ngModel" required />
      <app-param-error [status]='alertStatus' param='comment'></app-param-error>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !points.valid }">
      <label for="points">Points:</label>
      <input type="text" class="form-control" name="points" [(ngModel)]="model.points" #points="ngModel" required />
      <app-param-error [status]='alertStatus' param='points'></app-param-error>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toUsers.valid }">
      <!--<label for="toUsers">Send To:</label>-->
      <tag-input [(ngModel)]="model.toUsers" [ngModelOptions]="{standalone: true}"
          item-content
          name="toUsers"
          #toUsers="ngModel"
          [placeholder]="'Additional user'"
          [secondaryPlaceholder]="'Send to user'"
          [onlyFromAutocomplete]="true">
        <tag-input-dropdown [autocompleteObservable]="requestUserNames">
          <ng-template let-item="item" let-index="index">
            @{{ item.display }}
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
      <app-param-error [status]='alertStatus' param='to'></app-param-error>
    </div>
    <!-- TODO make this an optional list.
    TODO make it so it better supports a list of multiples. -->
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !tags.valid }">
      <label for="tags">Tags</label>
      <input type="text" class="form-control" name="tags" [(ngModel)]="model.tags" #tags="ngModel" />
      <span>(separate tags with a '<code>;</code>')</span>
      <app-param-error [status]='alertStatus' param='tags'></app-param-error>
    </div>
    <div class="form-group">
      <app-load-button [loading]='loading'>
        <button [disabled]="loading">Send!</button>
      </app-load-button>
    </div>
  </form>
</div>
